.searchOptionsForm {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.searchOptionsForm > div {
  margin-left: 1rem;
}

@media only screen and (max-width: 860px) {
  .searchOptionsForm {
    flex-direction: column;
  }

  .searchOptionsForm > div {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
