/*List Appointment table styling*/

.listAppointment__table-row:hover {
  background-color: #ece9e9;
}

.listAppointment__table-header {
  text-align: center;
}

.tableContainer {
  width: 95%;
  margin: 0 auto;
  overflow-x: auto;
}
