body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  overflow-x: hidden;
}

a {
  color: #272727;
  text-decoration: none;
}

/*App headers*/

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
  .appHeader > h2 {
    font-size: 1.2rem;
  }
}

/*Table*/

/* @media only screen and (max-width: 520px) { */
.tableContainer {
  margin: 0 auto;
  max-width: 95vw;
  overflow-x: auto;
}
/* } */
