@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color: #272727;
  text-decoration: none;
}

/*App headers*/

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
  .appHeader > h2 {
    font-size: 1.2rem;
  }
}

/*Table*/

/* @media only screen and (max-width: 520px) { */
.tableContainer {
  margin: 0 auto;
  overflow-x: auto;
}
/* } */
